#ClipboardBrowser{
    ;${font}
    ;color: ${fg}
    ;background: transparent
    ;border: none
    ;outline: 0
}
#ClipboardBrowser::item{
    ;background: transparent
    ;padding: 0px
}
#ClipboardBrowser::item:alternate:!hover:!selected{
    ;color: ${alt_fg}
    ;background: transparent
}
#ClipboardBrowser::item:selected{
    ;color: ${sel_fg}
    ;background: transparent
}

#item,#item_child{
    ;${font}
    ;color: ${fg}
    ;background: transparent
    ;border-radius: 8px
}
#item[CopyQ_selected="true"]
,#item[CopyQ_selected="true"] #item_child
{
    ;color: ${sel_fg}
    ;background: ${sel_bg}
    ;border-radius: 8px
}

${hsv_saturation_factor = 0.5}
    #ClipboardBrowser::item:selected:!active
    {
        ;background: transparent
        ;${sel_item_css}
    }
${hsv_saturation_factor = 2}
${hsv_value_factor = 0.9}
    #ClipboardBrowser::item:hover:selected
    {
        ;background: transparent
        ;${hover_item_css}
    }
    #ClipboardBrowser::item:hover:!selected
    {
        ;background: transparent
        ;${hover_item_css}
    }
${hsv_saturation_factor = 1}
${hsv_value_factor = 1}

/* Omit showing current item outline. */
#ClipboardBrowser::focus{outline:0}

#ClipboardBrowser::item:focus{ ${cur_item_css} }

/* Allow user to change CSS. */
#ClipboardBrowser{ ${item_css} }
#ClipboardBrowser::item:alternate:!hover:!selected{ ${alt_item_css} }
#ClipboardBrowser::item:selected{ ${sel_item_css} }

#editor_status_bar * {
    ;background: ${edit_bg}
    ;color: ${edit_fg}
    ;border: none
}

${css:tooltip}
